  <div class="container_bangve">
        <div class="title_bangve">
            <h1>Giá vé</h1>
            <p>(Áp dụng từ ngày 01/06/2023)</p>
        </div>
        <h3 style="font-size: 15px;"> GIÁ VÉ XEM PHIM 2D</h3>
        <div class="ve">
            <table border="1" class="bangve">
                <tr>
                    <td></td>
                    <td colspan="3">Từ thứ 2 đến thứ 5 <br>From Monday to Thursday</td>
                    <td colspan="3">Thứ 6, 7, CN và ngày Lễ <br>Friday, Saturday, Sunday & public holiday</td>
                </tr>
                <tr>
                    <td>Thời gian</td>
                    <td>Ghế thường <br>Standard</td>
                    <td class="vip">Ghế VIP<br>VIP</td>
                    <td class="doi">Ghế đôi<br>Sweetbox</td>
                    <td>Ghế thường<br>Standard</td>
                    <td class="vip">Ghế VIP<br>VIP</td>
                    <td class="doi">Ghế đôi<br>Sweetbox</td>
                </tr>
                <tr>
                    <td>Trước 12h <br>Before 12PM</td>
                    <td>55.000đ</td>
                    <td class="vip">65.000đ</td>
                    <td class="doi">140.000đ</td>
                    <td>70.000đ</td>
                    <td class="vip">80.000đ</td>
                    <td class="doi">170.000đ</td>

                </tr>
                <tr>
                    <td>Từ 12:00 đến trước 17:00<br>From 5PM to before 11:00PM</td>
                    <td>70.000đ</td>
                    <td class="vip">75.000đ</td>
                    <td class="doi">160.000đ</td>
                    <td>80.000đ</td>
                    <td class="vip">85.000đ</td>
                    <td class="doi">180.000đ</td>

                </tr>
                <tr>
                    <td>Từ 17:00 đến trước 23:00<br>From 5PM to before 11:00PM</td>
                    <td>80.000đ</td>
                    <td class="vip">85.000đ</td>
                    <td class="doi">180.000đ</td>
                    <td>90.000đ</td>
                    <td class="vip">95.000đ</td>
                    <td class="doi">200.000đ</td>

                </tr>
                <tr>
                    <td>Từ 23:00<br>From 11:00PM</td>
                    <td>65.000đ</td>
                    <td class="vip">70.000đ</td>
                    <td class="doi">150.000đ</td>
                    <td>75.000đ</td>
                    <td class="vip">80.000đ</td>
                    <td class="doi">170.000đ</td>

                </tr>
            </table>
            <p>* Đối với phim có thời lượng từ 150 phút trở lên: phụ thu 10.000 VNĐ / vé</p>

            <h3 style="font-size: 15px;"> GIÁ VÉ XEM PHIM 3D</h3>
            <table border="1" class="bangve">
                <tr>
                    <td></td>
                    <td colspan="3">Từ thứ 2 đến thứ 5 <br>From Monday to Thursday</td>
                    <td colspan="3">Thứ 6, 7, CN và ngày Lễ <br>Friday, Saturday, Sunday & public holiday</td>
                </tr>
                <tr>
                    <td>Thời gian</td>
                    <td>Ghế thường <br>Standard</td>
                    <td class="vip">Ghế VIP<br>VIP</td>
                    <td class="doi">Ghế đôi<br>Sweetbox</td>
                    <td>Ghế thường<br>Standard</td>
                    <td class="vip">Ghế VIP<br>VIP</td>
                    <td class="doi">Ghế đôi<br>Sweetbox</td>
                </tr>
                <tr>
                    <td>Trước 12h <br>Before 12PM</td>
                    <td>60.000đ</td>
                    <td class="vip">80.000đ</td>
                    <td class="doi">160.000đ</td>
                    <td>80.000đ</td>
                    <td class="vip">100.000đ</td>
                    <td class="doi">200.000đ</td>

                </tr>
                <tr>
                    <td>Từ 12:00 đến trước 17:00<br>From 5PM to before 11:00PM</td>
                    <td>80.000đ</td>
                    <td class="vip">90.000đ</td>
                    <td class="doi">180.000đ</td>
                    <td>80.000đ</td>
                    <td class="vip">100.000đ</td>
                    <td class="doi">110.000đ</td>

                </tr>
                <tr>
                    <td>Từ 17:00 đến trước 23:00<br>From 5PM to before 11:00PM</td>
                    <td>80.000đ</td>
                    <td class="vip">98.000đ</td>
                    <td class="doi">220.000đ</td>
                    <td>110.000đ</td>
                    <td class="vip">300.000đ</td>
                    <td class="doi">300.000đ</td>

                </tr>
                <tr>
                    <td>Từ 23:00<br>From 11:00PM</td>
                    <td>65.000đ</td>
                    <td class="vip">70.000đ</td>
                    <td class="doi">150.000đ</td>
                    <td>75.000đ</td>
                    <td class="vip">80.000đ</td>
                    <td class="doi">170.000đ</td>

                </tr>
            </table>
            <p>* Đối với phim có thời lượng từ 150 phút trở lên: phụ thu 10.000 VNĐ / vé</p>
            <p style="font-weight: bold;">-&nbsp;&nbsp;Thuê phòng tổ chức Hội nghị, làm văn phòng, quảng cáo và các dịch vụ khác:&nbsp;&nbsp;</p>
            <p >- Giảm 20% giá vé theo qui định đối với: Trẻ em (người dưới 16 tuổi), người cao tuổi (công dân Việt Nam từ đủ 60 tuổi trở lên), người có công với cách mạng, người có hoàn cảnh đặc biệt khó khăn.</p>
            <p>+ Trẻ em (trường hợp trẻ em từ 14-16 tuổi), người cao tuổi: xuất trình "Căn cước công dân".</p>
            <p >+ Người có công với cách mạng: xuất trình giấy xác nhận theo quy định.</p>
            <p >+ Người có hoàn cảnh đặc biệt khó khăn: xuất trình "Giấy chứng nhận hộ nghèo".</p>
            <p >+ Người khuyết tật: xuất trình "Giấy xác nhận khuyết tật".</p>
            <p ><strong>* Ưu đãi cho học sinh, sinh viên từ&nbsp;</strong><strong>22</strong><strong>&nbsp;tuổi trở xuống: Đồng giá&nbsp;</strong><strong>55.000</strong><strong>đ&nbsp;/vé&nbsp;2D cho tất cả các suất chiếu phim từ&nbsp;</strong><strong>Thứ 2 đến Thứ 6</strong><strong>&nbsp;<em>(chỉ áp dụng cho hình thức mua vé trực tiếp tại quầy, mỗi thẻ được mua 1 vé/ngày - vui lòng xuất trình thẻ U22 và thẻ HSSV khi mua vé)</em>.</strong></p>
          <br>
            <p ><strong>* Khán giả nghiêm túc thực hiện xem phim đúng độ tuổi theo phân loại phim: </strong><strong>P, K, T13, T16, T18, C. </strong><strong>(Trường hợp vi phạm sẽ xử phạt theo Quy định tại Nghị định 128/2022/NĐ-CP ngày 30/12/2022).</strong></p>
          <br>
            <p ><strong>* Không bán vé cho trẻ em dưới 13 tuổi đối với các suất chiếu phim kết thúc sau 22h00 và không bán vé cho trẻ em dưới 16 tuổi đối với các suất chiếu phim kết thúc sau 23h00.</strong></p>
            <br>
            <p ><strong>* Áp dụng giá vé ngày Lễ, Tết cho các ngày:</strong></p>
            <p >- Các ngày nghỉ Lễ, Tết theo quy định của nhà nước: Tết Nguyên Đán, Tết Dương Lịch, ngày Giỗ Tổ Hùng Vương 10/3 AL, ngày 30/4, 1/5, 2/9.</p>
            <br>
            
    </div>
